# --- SEGURANÇA ---
.env
.docker-data/
config/master.key

# --- BACKEND (RAILS) ---
/ECOMMERCE-BACKEND-RUBY-RAILS-ANGULAR-TAILWIND-SASS/log/*.log
/ECOMMERCE-BACKEND-RUBY-RAILS-ANGULAR-TAILWIND-SASS/tmp/
/ECOMMERCE-BACKEND-RUBY-RAILS-ANGULAR-TAILWIND-SASS/db/*.sqlite3
/ECOMMERCE-BACKEND-RUBY-RAILS-ANGULAR-TAILWIND-SASS/db/*.sqlite3-journal
.bundle/
vendor/bundle

# --- FRONTEND (ANGULAR) ---
node_modules/
/ECOMMERCE-FRONTEND-ANGULAR-TAILWIND-SASS-NODEJS/node_modules/
/ECOMMERCE-FRONTEND-ANGULAR-TAILWIND-SASS-NODEJS/dist/
/ECOMMERCE-FRONTEND-ANGULAR-TAILWIND-SASS-NODEJS/.angular/

# --- DOCKER E BANCO ---
db_data/
.DS_Store
